<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
    
<body>

    <main id="comment-main">
        <%- include('./partials/nav.ejs') %> 
        
    
       
    
        </main>

    


    <div class="title">
        <h1>Comments</h1>
    </div> 
   

    <div id="main-item">
        
        <ul id="lists">
            
        </ul>
    </div>
    

    <%- include('./partials/footer.ejs') %> 


    <script src="../sitess.js"></script>
</body>
</html>