<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
    
<body>

    <main id="comment-about">
        <%- include('./partials/nav.ejs') %> 
        
    
       
    <h3>About Us</h3>
        </main>

    


    <div class="title">
        <h1>What our customers sayes</h1>
        <p>Making a reservation at Select restaurant is easy and takes
             just a couple of minutes.</p>
    </div> 
   

    <div id="main-item">
        
        <ul id="lists">
            <i class="fa fa-chevron-left" id="icon" aria-hidden="true"></i>
            <i class="fa fa-chevron-right"id="icon"  aria-hidden="true"></i>   
        </ul>
    </div>
    

    <%- include('./partials/footer.ejs') %> 


    <script src="../sitess.js"></script>
</body>
</html>