<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <main id="comment-main">
    <%- include('./partials/navv.ejs') %> 
    

   

    </main>


        <section id="contacts">
            
            <div id="contact">
                <h3>Reviews: 
                    <p>Let us know what you think</p>
                    <p>Your concerns are our priority</p>
                </h3>


                </div>
    <div id="container-form">

        <h3>Reviews</h3>
        <form id="form-input" action="/comment" method ="post">
            <input type="text" name="name" id="name" placeholder="FullName" required>
            <textarea title="message" name="message" placeholder="write here" required></textarea>
            <label> Your overall experience with us ?</label><br>
  
            <span class="star-rating">
            <input type="radio" name="rating1" value="1"><i class="fa-regular fa-star"></i>
            <input type="radio" name="rating1" value="2"><i class="fa-regular fa-star"></i>
            <input type="radio" name="rating1" value="3"><i class="fa-regular fa-star"></i>
            <input type="radio" name="rating1" value="4"><i class="fa-regular fa-star"></i>
            <input type="radio" name="rating1" value="5"><i class="fa-regular fa-star"></i>
            </span>

        </br>
           

            <button type="submit" value="Submit"> Send </button>

        </form>
    </div>



    </section>




    <%- include('./partials/footer.ejs') %> 
    <script src="../sitess.js"></script>
</body>
</html>