<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <main id="main-contact">
    <%- include('./partials/navv.ejs') %> 


   
        <div id="contact-text">
            <p>Get in touch</p>
            <h2>Contact us</h2>
            <button type="button">Email us</button>
        </div>
        


    </main>
    
    <section id="contacts">

        <div id="contact">
            <div id="icons">
                <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <h3>Location: 
                    <p>Adenta Municipality, R40</p>
                </h3>
            
            
            <div id="icons">
                <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                <h3>Email: 
                    <p>kuranchieracheal@gmail.com</p></h3>
           
            
            <div id="icons">
                <i class="fa fa-phone" aria-hidden="true"></i> </div>
                <h3>Mobile:<p>0542802959</p> </h3>
           
            
            <div id="icons">
                <i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <h3>Open Hours:<p>Sunday - Friday <br> 10am - 12 am</p> </h3>
            
            


        </div>
        <div id="container-form">

            <h3>Send us a message</h3>
            <form id="form-input" action="/contact" method ="post">
                <input type="text" name="fname" id="name" placeholder="FullName" required>
                
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="text" name="subject" id="subject"placeholder="Subject" required>
                <textarea title="message" name="message" placeholder="message" required></textarea>
    
                <button type="submit" value="Submit">Submit </button>
                
    
    
    
            </form>
        </div>
    </section>


     <%- include('./partials/footer.ejs') %> 



     <script src="../sitess.js"></script>
</body>
</html>