<!DOCTYPE html>
<html>
        <%- include('./partials/head.ejs') %> 
    


    <body>

        <header>
        
            <%- include('./partials/nav.ejs') %> 
       
         <div class ="text">
            <p>Because</p>
            <h2 class="texts"> YOU'RE <br> WORTH IT </h2>
        </div>

        <div class = "content" id="content">

            <div class="card">
                <img src="images/post-img-food-1.jpeg" alt="food" style="width:100%">
                
                <div class="container">
                    <h4>Chips & Fish - </h4>
                    <p>$7.99</p>
                </div>
            </div>

            <div class="card">
                <img src="images/post-img-food-2.jpeg" alt="food" style="width:100%">
                
                <div class="container">
                    <h4>Chef Salad - </h4>
                    <p>$2.99</p>
                </div>
                </div>

                <div class="card">
                    <img src="images/post-img-food-3.jpeg" alt="food" style="width:100%">
                    
                    <div class="container">
                        <h4>Grilled Steak- </h4>
                        <p>$14.99</p>
                    </div>
                    </div>

                    <div class="card">
                        <img src="images/post-img-food-4.jpeg" alt="food" style="width:100%">
                        
                        <div class="container">
                            <h4>Roast Chicken - </h4>
                            <p>$9.99</p>
                        </div>
                        </div>
             </div>



        </header>

        <section>
            <div class="section-body" id="sect">
                
            <div class="story">
            <h1>Discover Our Story</h1>
            <p>In our work we try to use the most modern, convenient
                and interesting solutions.We want the template you downloaded
                look unique and new for such a long time as it is possible
            </p>
            <div class="image"><img src="images/bg2.png" alt="picture"></div>
            </div>
            </div>
        </section>  

        <div class="menu" id="menu">

            <div class="menu-story">
                <h2>WHAT TO EAT ?
                <br><span>ENJOY OUR MENU</span></h2>
        

                <P>More than 250 dishes and 300 drinks for you</P>

        
                <button  id="menu-btn"><i class="icon icon-notebook"></i>View Menu</button>
            </div>




            <div id="container-box">
                <h2 class="menu-text">Menu</h2>
                <div class="items">

                    <div class="drinks">
                        <h2>Main Dishes</h2>
                   
                    <li><a href="#">Chef Salad</a><p>$2.99</p></li>
                    <li><a href="#">Grilled Steak</a><p>$14.99</p></li>
                    <li><a href="#">Fish & Chips</a><p>$9.99</p></li>
                    <li><a href="#">Fried Rice</a><p>$10.99</p></li>
                    
                </div>

                    <div class="drinks">
                        <h2>Drinks</h2>
                        <li><a href="#">Smirnoff</a><p>$10.99</p></li>
                        <li><a href="#">Malt</a><p>$9.99</p></li>
                        <li><a href="#">Wine</a><p>$100.99</p></li>
                        <li><a href="#">Cocktail</a><p>$12.99</p></li>
                    </div>

                    <div class="drinks">
                        <h2>Starter</h2>
                        <li><a href="#">Spring Roll</a><p>$14.99</p></li>
                        <li><a href="#">Kelewele</a><p>$9.99</p></li>
                        <li><a href="#">Samosa</a><p>$10.99</p></li>
                        <li><a href="#">Khebab</a><p>$12.99</p></li>
                    </div>
                    
                </div>
                
 
            </div>
        </div>







        <section class="features" id="feature">
            <div class="feature">
                <div class="feature-post">
                   
                        <img src="images/hot_food.png" alt="">
                    
                    <div>
                        <h2>Fully Responsive</h2>
                    </div>
                    <div>
                        <p>Your project looks great on any device. Content can be easily read and a user understands
                            freely
                            what you wanted to say to him or her.</p>
                    </div>
                </div>
                <div class="feature-post">
                  
                        <img src="images/feature-food3.png" alt="">
                
                    <div>
                        <h2>Pure & Simple</h2>
                    </div>
                    <div>
                        <p>No fluff. Nothing should lead the visitor away from the main essence of website. 
                            There must be just important information.</p>
                    </div>
                </div>
                <div class="feature-post">
                    
                        <img src="images/feature-food5.png" alt="food">
                   
                    <div>
                        <h2>Color Schemes</h2>
                    </div>
                    <div>
                        <p>The set of ready made CSS files with different color 
                            schemes will help you in quick landing’s adaptation according to your benchmark style.</p>
                    </div>
                </div>

                <div class="feature-post last">
                 
                        <img src="images/feature-food2.png" alt="food">
                    
                    <div>
                        <h2>PSD is Included</h2>
                    </div>
                    <div>
                        <p>The graphic source file in PSD format is included in the archive.</p>
                    </div>
                </div>
                <div class="feature-post last">
                   
                        <img src="images/feature-food4.png" alt="food">
                   
                    <div>
                        <h2>Documentation</h2>
                    </div>
                    <div>
                        <p>The detailed documentation will help you in adjusting 
                            the project with little effort according to your requirements.</p>
                    </div>
                </div>
                <div class="feature-post last">
                   
                        <img src="images/feature-food6.png" alt="food">
                  
                    <div>
                        <h2>MultiPlatform</h2>
                    </div>
                    <div>
                        <p>The page is adapted to the most of the popular 
                            platform in segment..</p>
                    </div>
                </div>
            </div>
        </section>



        <section class="reviews" id="review">
            <div>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="review">
                <p>I always thought that people used to pay much for quality. But these guys changed <br> opinion. The
                    quality exceeds the price many times. I recommend it to everybody.</p>
            </div>
        </section>


        <section class="customer">

            <div class="customers">

                <div class="icons">
                    <i class="fa-regular fa-address-book" style="opacity: 0.5;"></i>
                    <h2>256</h2>
                    <p>Dishes</p>
                </div>

                <div class="icons">
                    <i class="fa-solid fa-wine-glass"style="opacity: 0.5;"></i>
                    <h2>301</h2>
                    <p>Drinks</p>
                </div>

                <div class="icons">
                    <i class="fa-regular fa-face-smile"style="opacity: 0.5;"></i>
                    <h2>721</h2>
                    <p>Happy Clients</p>
                </div>

                <div class="icons">
                    <i class="fa-regular fa-heart"style="opacity: 0.5;"></i>
                    <h2>378</h2>
                    <p>Likes</p>
                </div>
            </div>
        </section>



        <section class="table" id="table">
            <div class="ltable">
                <h2>Book a Table</h2>
                <hr>
                <form>

                    <input type="text" id="name" placeholder="Full name">
                    <hr>

                    <input type="text" id="email" placeholder="Email Address">
                    <hr>

                    <input type="text" id="message" placeholder="Your message">
                    <hr>

                    <div class="btn-container">
                        <button class="button2"><i class="far fa-edit" style="color:#fff;"></i>Book</button>
                    </div>
                    
                </form>
            </div>


            <div class="rtable">
                <p>In our work we try to use only the most modern, convenient
                    and interesting solutions. We want the
                    template you downloaded look unique and new for such a long time as it is possible</p>
                <div class="address">

                </br>
                    <p><i class="far fa-clock"style="opacity: 0.5;"></i> </br>10:00 - 23:00(Mon-Sun)</p>
                    <p><i class="fas fa-map-marker-alt"style="opacity: 0.5;"></i> </br>300 Boylstone Ave E, Seattle WA</p>
                    <p><i class="fas fa-phone"style="opacity: 0.5;"></i></br> 732-555-1428(Callback)</p>
                    <p><i class="fas fa-envelope"style="opacity: 0.5;"></i></br>your@email.com</p>
                </div>

            </div>
        </section>

       <%- include('./partials/footer.ejs') %> 

        <script src="../site.js"></script>

    </body>
</html>